.dashboard_header{
    min-height: 64px;
    background-color: #00dcff;
    position: fixed;
    top: 0;
    z-index: 999;
    width: calc(100% - 64px);
    margin-inline-start: 64px;

    &[open]{
        margin-inline-start: 240px;
        width: calc(100% - 240px);
    }
   

    .flex_col{
        display: flex;
        align-items: center;
    }
    .right_col{
        justify-content: flex-end;
    }

    h1{
        text-transform: capitalize;
        color: #fff;
        margin: 0;
    }
    svg{
        color: #fff;
    }
}
main.wrapper{
    display: flex;
}
main.content{
    padding: 90px 20px;
}